.pagination {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;

  .count {
    color: #ffcd4a;
    margin: 0 10px;
    padding-top: 10px;
  }

  .previous, .next {
    margin: 0 5px;
    border: 2px solid #ffcd4a;
    border-radius: 100px;
    color: #ffcd4a;
    width: 35px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding-top: 5px;
  }
}
